.jobs-list-container-main {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 30px;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #7e858e;
  border-radius: 5px;
  width: 40%;
}
.search-input-box {
  background-color: transparent;
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 12px;
  outline: none;
  border: none;
  width: 100%;
  padding-left: 10px;
}
.failure-image {
  height: 50px;
  width: 50px;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-icon {
  background-color: #272727;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border: none;
}
.icon {
  color: #cbd5e1;
  font-weight: 0px;
  font-size: 14px;
}
.cards-list {
  padding: 0px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-right: 40px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.search-list {
  list-style: none;
}
.failure-heading {
  color: #cbd5e1;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto';
}
.para-failure {
  color: #cbd5e1;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
}
.retry-button {
  background-color: #6366f1;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.no-jobs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-jobs-image {
  margin-top: 80px;
  height: 300px;
  width: 400px;
}
.failure-heading {
  color: #cbd5e1;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 10px;
}
.failure-para {
  color: #cbd5e1;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 400;
}
.main-container {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}
.left-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.line {
  color: #b6c5ff;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.right-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
