.card-container {
  background-color: #272727;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}
.logo-image {
  display: flex;
  align-items: center;
  height: 45px;
  width: 40px;
}
.title-rating-container {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  height: 65px;
}
.title {
  color: #f8fafc;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}
.rating-container {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
}
.stars {
  color: #fbbf24;
  font-size: 11px;
}
.rating {
  color: #f8fafc;
  font-size: 11px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-left: 5px;
}
.location-employment-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  height: 30px;
  width: 100%;
}
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.location-icon {
  color: #f8fafc;
}
.location-name {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: 400;
  margin-left: 5px;
}
.employment {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.employment-icon {
  color: #f8fafc;
}
.employment-name {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: 400;
  margin-left: 8px;
}
.location-emp-sal {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 98%;
}
.package {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
}
.package-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
  width: 100%;
  height: 30px;
}
.line {
  border-color: #7e858e;
  margin-top: 15px;
  outline: none;
  margin-right: 30px;
  max-width: 98%;
}
.description-container {
  width: 98%;
  padding: 0px;
}
.description-title {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}
.job-description {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
}
.link-item {
  text-decoration: none;
}
